rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
		function isAdmin(userId) {
        return request.auth.token.admin == true
					|| request.auth.uid in get(/databases/$(database)/documents/users/$(userId)).data.admins
    }
    
    function isSameUser(userId) {
    	return request.auth.uid == userId
    }
    
    match /users/{userId} {
    	allow read: if isSameUser(userId)
			allow write, delete, read: if isAdmin(userId)
    }
    
    match /users/{userId}/posts/{post} {
			allow read, delete, write: if isAdmin(userId) 
			allow read: if isSameUser(userId)
    }  
  }
}
