rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
    function isSameUser(userId) {
    	return request.auth != null && request.auth.uid == userId
    }

    	match /users/{userId}/{postId} {
      	allow read, write: if isSameUser(userId)
      }
    }
  }
}

