@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*:after,
	*:before {
		position: relative;
	}

	html {
		scroll-behavior: smooth;
	}

	body, html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body, #__nuxt {
		overflow: hidden;
	}
	
	body {
		font-family: 'Montserrat';
	}

	input[type=text],
	textarea {
		background: none;
		border: none;
		outline: none;	
	}
}

@layer components {
  .scrollbar-none {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

	.full-scroller {
		overflow: auto;
		max-height: 100svh;
		-webkit-overflow-scrolling: touch;
	}

  .abs-center-y {
    @apply top-1/2 -translate-y-1/2 absolute;
  }

  .abs-center-x {
    @apply left-1/2 -translate-x-1/2 absolute;
  }

  .abs-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute;
  }

	.flex-center {
		@apply flex items-center justify-center;
	}
}
